<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>รายละเอียดโครงการ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    ชื่อโครงการ
  </div>
  <div>
    {{ project.project_name }}
  </div>
  <div>
    รายละเอียดโครงการ
  </div>
  <div>
    {{ project.project_detail }}
  </div>
  <div>
    วันที่จัดโครงการ
  </div>
  <div>
    {{ project.project_date }}
  </div>
  <div>
    งบประมาณ
  </div>
  <div>
    {{ project.project_amount }}
  </div>
</ion-content>