<ion-header>
  <ion-toolbar>
    <ion-title>
      โครงการ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="add()">เพิ่มโครงการ</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data">
      <ion-thumbnail slot="start">
        <ion-img src="https://f.ptcdn.info/375/031/000/1431615154-140808tu3d-o.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.project_name }}</h2>
        <p>{{ item.project_date }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="view(item)">ดู</ion-button>
        <ion-button (click)="edit(item)">แก้ไข</ion-button>
        <ion-button (click)="del(item)">ลบ</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>