<ion-header>
  <ion-toolbar>
    <ion-title>
      หน้าแรก
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="set()">Set</ion-button>
  <ion-button (click)="get()">Get</ion-button>
  <ion-button (click)="remove()">Remove</ion-button>
  <ion-button (click)="showActionSheet()">open Actionsheet</ion-button>
  <ion-button (click)="showAlert()">open alert</ion-button>
  <ion-button (click)="getDataService()">get data</ion-button>
  <ion-button (click)="getDataService2()">get data</ion-button>
  <ion-button (click)="testService()">test sevice</ion-button>
  <ion-item *ngFor="let item of data">
    {{ item }}
  </ion-item>
  <div>Fullname = {{ data2.fullname }}</div>
  <ion-button (click)="showAlert2()">show Alert</ion-button>
  <ion-button (click)="showConfirm()">show Confirm</ion-button>
  <ion-button (click)="showToast()">show Toast</ion-button>
  <ion-button (click)="openCamera()">open camera</ion-button>
  <ion-button (click)="scanBarcode()">scan barcode</ion-button>
</ion-content>